.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Overlay effect: translucent background: black w/ partial opacity */
    z-index: 1; /* Overlay effect: positioned over other containers */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    position: fixed; /* Fix position on the top-left corner*/
    top: 0;
    left: 0;
    overflow: auto; /* Enable scroll if needed */
    padding-top: 80px; /* Location of the content container */
}

.modalContent {
    background-color: white;
    width: 90%; /* Width in proportion to its parent container*/
    max-width: 640px; /* Max width where it stops expanding */
    height: 70%; /* Height in proportion to its parent container */
    margin: auto; /* Auto margin according to the element width */
    padding: 10px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    border-radius: 20px; /* Optional. Rounds container corners */
}

.modalInvoice {
    margin-top: 20px;
    padding-right: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: inline-grid;
    grid-auto-columns: auto auto;
    grid-column-gap: 25%;
}

.modalContent h1 {
    width: 100%;
    align-content: center ;
    grid-row-start: 1;
}

.modalInvoiceDate {
    margin-top: 40px; 
    grid-row-start: 1;
    text-align: right;
}

.modalCompanyDisplay {
    border: 1px solid black;
    border-radius: 5px;
    word-wrap: anywhere;
}
.modalInvoiceClientDisplay {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    padding-bottom: 15px;
}

.modalCompanyDisplay div {
    padding: 4px;
}

.modalInvoiceDetails {
    padding-top: 30px;
}

.modalInvoiceSubtotal {
    float:right;
    border: 1px solid black;
    padding: 10px; 
    margin-right: 5%;
    font-size: 1.2rem;
}

.closeButton {
    color: #aaaaaa;
    float: right; /* Positioned to the right of the parent container whichever size it is */
    font-size: 25px;
    font-weight: bold;
}

    .closeButton:hover,
    .closeButton:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }